<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Clock</title>
  </head>
  <body id="Body" onload="Time_now()">
    <p>Time Now</p>
    <div>
      <h1 class="Time">0:0:0</h1>
      <br /><br />
      <h1 class="Am"></h1>
    </div>
  </body>
  <script src="js/clock.js"></script>
</html>
